# Visual Studio Code files
.vs/
x64/Release/

# Compiled files
*.o
*.obj
*.exe
*.out
*.app
*.pdb
*.tlog

# Build output
/build/
/bin/
/Debug/
/Release/



# IDE/Editor-specific files and folders
.sln
.vcxproj
.suo
.user
.vscode/
.xcodeproj
.xcworkspace
xcuserdata/
.cbp
.layout
.depend
.project
.cproject
.settings/
.idea/
.idea/*
.idea/workspace.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml

# Operating System and Editor Temporary Files
Thumbs.db
.DS_Store

# Dependency and Build Tools Files
CMakeCache.txt
CMakeFiles/
Makefile
*.a
*.lib

# Log Files
*.log

# User/Environment-specific files
.env

# Miscellaneous
core
core.*


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app